version: '3.7'
services:
  collection-db:
    image: "postgis/postgis:12-3.1-alpine"
    env_file:
      - ${BASE_PATH_TO_COLLECTION:-.}/pg.env
    volumes:
      - ${BASE_PATH_TO_COLLECTION:-.}/src/test/resources/init-collection-module.sql:/docker-entrypoint-initdb.d/2-init-schema.sql
    
  collection-api:
    image: aafcbicoe/natural-history-collection-api:0.59
    # build: ${BASE_PATH_TO_COLLECTION:-.}
    ports:
      - "8085:8080"
    env_file:
      - ${BASE_PATH_TO_COLLECTION:-.}/collection-api.env
    networks:
      default:
    depends_on:
      - collection-db
